<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
<title>ХОЛ</title>
<script type="text/javascript" src="/js/lib/angular_uk.min.js"></script>
<script type="text/javascript" src="/js/lib/textAngular-rangy.min.js"></script>
<script type="text/javascript" src="/js/lib/textAngular-sanitize.min.js"></script>
<script type="text/javascript" src="/js/lib/textAngular.min.js"></script>
<link rel="stylesheet" href="/css/lib/bootstrap.min.css">
<style type="text/css">
.navbar2 {
	border-radius: 4px;
	min-height: 35px;
	border: 1px solid #E7E7E7;
}
.jumbotron h2{
	margin-top: 8px;
}
.jumbotron{
	padding: 2px;
	margin-bottom: 4px;
}
</style>
</head>
<body>
	<div class="container">
		<div ng-bind-html="jsonFromRam.head"></div>
		<div class="jumbotron">
			<h2>Тренування, підготовка до здачі тесту лікарів ХОЛ</h2>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h3 ng-click="toLogin()">Крок 1</h3>
				<p>Залогінитись на сайті </p>
			</div>
			<div class="col-sm-4">
				<h3>Крок 2</h3>
				<p>
					<a href="http://dn.khnu.km.ua/dn/k_default.aspx?M=k2002&T=r1">
						Прочитати підготовчу літературу </a>
				</p>
			</div>
			<div class="col-sm-4">
				<h3>Крок 3</h3>
				<p>
					<a href="http://dn.khnu.km.ua/dn/test.aspx?M=2002&Z=%D0%A2%D0%9A1">
						Пройти пробне тестування. Перевірити свою ступінь готовності до
						тесту </a>
				</p>
			</div>
		</div>
		<!-- 
		<iframe src="{{frameSrc}}" width="100%"
		 -->
		<iframe src="http://dn.khnu.km.ua" width="100%"
			height="400px">
			<p>Your browser does not support iframes.</p>
		</iframe>
	</div>

</body>
<script type="text/javascript">
		angular.module("myApp", ['textAngular']).controller("myCtrl",
		function demoController($scope, $http) {
			$scope.pageKey = window.location.search.substring(1);
			
			$scope.frameSrc="http://dn.khnu.km.ua/dn/user.aspx";
			
			$http.get("/view/readContent").success(
			function(response) {
				$scope.jsonFromRam = response;
				console.log($scope.jsonFromRam);
				$scope.pageObject = response[$scope.pageKey];
				console.log($scope.pageObject);
			});

			$http.get("/read_user").success(
			function(data) {
				$scope.user = data;
				$scope.role = $scope.user.authorities[0].authority
						.split("_")[1];
			});

		});
	</script>
</html>