<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
<title>BugTinyWiki view</title>
<script type="text/javascript" src="/js/lib/angular_uk.min.js"></script>
<script type="text/javascript" src="/js/lib/textAngular-rangy.min.js"></script>
<script type="text/javascript" src="/js/lib/textAngular-sanitize.min.js"></script>
<script type="text/javascript" src="/js/lib/textAngular.min.js"></script>
<link rel="stylesheet" href="/css/lib/bootstrap.min.css">
<style type="text/css" media="screen">
input[type="number"] {
	width: 60px;
}
.lightingRegionKey{
background-color: yellow;
}
</style>
</head>
<body>
	<div class="container">
		<h1 ng-bind-html="data.title">
			title
		</h1>
		<table style="width: 100%">
			<tr>
				<td>
					<h2>
						<a href="/edit/sah_inhal_report.html"> Заповніть данні
							свого району -- </a> {{data.regions[user.name].name}}
					</h2>
				</td>
				<td class="text-right">
					<form action="/logout" method="post">
						<input type="submit" value="Sign Out" />
					</form> <small>Якщо це не ваш район, залогіньтесь з данними свого
						району.</small>
				</td>
			</tr>
		</table>
		<hr/>
		<div><b> Міста: </b> <span ng-repeat="regionKey in data.regions.order"
				ng-class="{lightingRegionKey:lightingRegionKey==regionKey}"
				ng-if="regionKey.substring(2,3) != 'r'"> {{$index + 1}} - <a
				ng-click="lighting(regionKey)">
					{{data.regions[regionKey].name}}{{$last ? ".":","}} </a></span>
		</div>
		<div><b> Райони: </b> <span ng-repeat="regionKey in data.regions.order"
				ng-class="{lightingRegionKey:lightingRegionKey==regionKey}"
				ng-if="regionKey.substring(2,3) == 'r'"> {{$index + 1}} - <a
				ng-click="lighting(regionKey)">
					{{data.regions[regionKey].name}}{{$last ? ".":","}} </a>
			</span>
		</div>

		<!-- 
		<table border="1">
		 -->
		<table class="table table-bordered">
			<thead>
				<tr>
					<th></th>
					<th colspan="{{data.cntCity}}">Міста {{data.cntCity}}</th>
					<th colspan="{{data.cntRaion}}">Райони {{data.cntRaion}}</th>
				</tr>
				<tr>
					<th></th>
					<th ng-repeat="regionKey in data.regions.order"
						ng-class="{lightingRegionKey:lightingRegionKey==regionKey}">
						<a ng-click="lighting(regionKey)"> {{$index + 1}} </a>
					</th>
					<th>∑</th>
				</tr>
			</thead>
			<tbody ng-repeat="(paramKey, paramValue) in data.parameters">
				<tr ng-if="paramValue.preParam">
					<th colspan="{{objectKeys(data.regions).length + 1}}">
						<h4>{{data.preParam[data.parameters[paramKey].preParam].title}}</h4>
					</th>
				</tr>
				<tr>
					<td>{{data.parameters[paramKey].title}}</td>
					<td ng-repeat="regionKey in data.regions.order">
						{{data.zwit[regionKey][paramKey]}}</td>
					<td>{{sum(paramKey)}}</td>
				</tr>
			</tbody>
		</table>
		<hr/>

	</div>
	<script type="text/javascript">
		angular.module("myApp", ['textAngular']).controller("myCtrl",
		function demoController($scope, $http) {
			console.log("-----------------");

			$http.get("/view/readSahYearZwit").success(function(data) {
				$scope.data = data;
				console.log($scope.data);
			});

			$http.get("/read_user").success(function(data) {
				$scope.user = data;
				if($scope.user.authorities)
				$scope.role = $scope.user.authorities[0].authority.split("_")[1];
			});

			$scope.sum = function(paramKey){
				var sum = 0;
//				if("i04sevoranSubventionPrevious2Year" == paramKey)
				for(var zwitKey in $scope.data.zwit){
					if($scope.data.zwit[zwitKey][paramKey])
					sum += $scope.data.zwit[zwitKey][paramKey];
				}
				if(sum > 0)
					return sum;
			}
			$scope.lighting = function(regionKey){
				console.log(regionKey);
				$scope.lightingRegionKey = regionKey;
			}
			$scope.objectKeys = function(object){
				if(object)
					return Object.keys(object);
				else
					return [];
			}

		});
	</script>
</body>
</html>
