<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
<title>BugTinyWiki view</title>
<script type="text/javascript" src="/js/lib/angular_uk.min.js"></script>
<script type="text/javascript" src="/js/lib/textAngular-rangy.min.js"></script>
<script type="text/javascript" src="/js/lib/textAngular-sanitize.min.js"></script>
<script type="text/javascript" src="/js/lib/textAngular.min.js"></script>
<link rel="stylesheet" href="/css/lib/bootstrap.min.css">
<link rel='stylesheet prefetch' href='/css/lib/font-awesome.min.css'>
<style type="text/css" media="screen">
body {
	padding-top: 50px;
	padding-bottom: 60px;
}
input[type="number"] {
	width: 60px;
}
.lightingRegionKey{
background-color: yellow;
}
</style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a href=".."> <img width="42"
					src="http://hol.in.ua/img/hol-kh-3.png">
				</a> <span ng-bind-html="pageData.title" />
			</div>
			<div class="collapse navbar-collapse navbar-right">.</div>
		</div>
	</nav>

	<div class="container">
		<h1 ng-bind-html="pageData.title">title</h1>
		<table style="width: 100%">
			<tr>
				<td>
					<h2>
						<a href="/edit/sah_year_raionself_common_report.html"> Заповніть данні свого
							району -- </a> {{data.regions[user.name].name}}
					</h2>
				</td>
				<td><a href="/view/read-excel-zait"> <i
						class="fa fa-file-excel-o fa-2x"></i>
				</a></td>
				<td class="text-right">
					<form action="/logout" method="post">
						<input type="submit" value="Sign Out" />
					</form> <small>Якщо це не ваш район, залогіньтесь з данними свого
						району.</small>
				</td>
			</tr>
		</table>
		
				<hr/>
		<div><b> Міста: </b> <span ng-repeat="regionKey in data.regions.order"
				ng-class="{lightingRegionKey:lightingRegionKey==regionKey}"
				ng-if="regionKey.substring(2,3) != 'r'"> {{$index + 1}} - <a
				ng-click="lighting(regionKey)">
					{{data.regions[regionKey].name}}{{$last ? ".":","}} </a></span>
		</div>
		<div><b> Райони: </b> <span ng-repeat="regionKey in data.regions.order"
				ng-class="{lightingRegionKey:lightingRegionKey==regionKey}"
				ng-if="regionKey.substring(2,3) == 'r'"> {{$index + 1}} - <a
				ng-click="lighting(regionKey)">
					{{data.regions[regionKey].name}}{{$last ? ".":","}} </a>
			</span>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th></th>
					<th colspan="{{data.cntCity}}">Міста {{data.cntCity}}</th>
					<th colspan="{{data.cntRaion}}">Райони {{data.cntRaion}}</th>
				</tr>
				<tr>
					<th></th>
					<th ng-repeat="regionKey in data.regions.order"
						ng-click="lighting(regionKey)"
						ng-class="{lightingRegionKey:lightingRegionKey==regionKey}">
						<a> {{$index + 1}} </a>
					</th>
					<th>∑</th>
				</tr>
			</thead>
			<tbody ng-repeat="paramKey in pageData.parameters.order">
				<tr ng-if="pageData.parameters[paramKey].head == '1'">
					<th colspan="{{objectKeys(data.regions).length + 1}}">
					{{pageData.parameters[paramKey].title}}
					</th>
				</tr>
				<tr ng-if="pageData.parameters[paramKey].head == 'X'">
					<th colspan="{{objectKeys(data.regions).length + 1}}">
					{{pageData.parameters[paramKey].title}}
					</th>
				</tr>
				<tr ng-if="!pageData.parameters[paramKey].head">
					<td>
					{{pageData.parameters[paramKey].title}}
					</td>
					<td ng-repeat="regionKey in data.regions.order">
						{{pageData.zwit[regionKey][paramKey]}}</td>
					<th>{{sum(paramKey)}}</th>
				</tr>
			</tbody>
		</table>

	</div>

</body>
<script type="text/javascript">
		angular.module("myApp", ['textAngular']).controller("myCtrl",
		function demoController($scope, $http) {
			console.log("-----------------");

			$http.get("/view/readSahYearZwit").success(function(data) {
				$scope.data = data;
				console.log($scope.data);
				$scope.pageData = data.raionCommon;
				console.log($scope.pageData);
			});

			$http.get("/read_user").success(function(data) {
				$scope.user = data;
				if($scope.user.authorities)
				$scope.role = $scope.user.authorities[0].authority.split("_")[1];
			});

			$scope.sum = function(paramKey){
				var sum = 0;
//				if("i04sevoranSubventionPrevious2Year" == paramKey)
				for(var zwitKey in $scope.data.zwit){
					if($scope.data.zwit[zwitKey][paramKey])
					sum += $scope.data.zwit[zwitKey][paramKey];
				}
				if(sum > 0)
					return sum;
			}
			$scope.lighting = function(regionKey){
				console.log(regionKey);
				$scope.lightingRegionKey = regionKey;
			}
			$scope.objectKeys = function(object){
				if(object)
					return Object.keys(object);
				else
					return [];
			}

		});
	</script>
</html>