<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
<title>Звіт {{data.regions[role].name}}</title>
<script type="text/javascript" src="/js/lib/angular_uk.min.js"></script>
<script type="text/javascript" src="/js/lib/textAngular-rangy.min.js"></script>
<script type="text/javascript" src="/js/lib/textAngular-sanitize.min.js"></script>
<script type="text/javascript" src="/js/lib/textAngular.min.js"></script>
<link rel="stylesheet" href="/css/lib/bootstrap.min.css">
<link rel="stylesheet" href="/css/lib/font-awesome.min.css">
<style type="text/css" media="screen">
body {
	padding-top: 50px;
	padding-bottom: 60px;
}
.ta-hidden-input {
	display: none;
}
@media print {
	.page-break {
		page-break-before: always;
	}
	.ta-hidden-input {
		display: none;
	}
}
</style>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a href=".."> <img width="42"
					src="http://hol.in.ua/img/hol-kh-3.png">
				</a>/ <span>{{data.regions[role].name}}</span> / <span><span>версія
						для друку</span></span>
			</div>
			<div class="collapse navbar-collapse navbar-right">
				<a href="sah-inhal-raion-zwit.html"> Редагувати </a>
			</div>
		</div>
	</nav>
	<div class="container">
		<h1 ng-bind-html="data.title"></h1>
		<h2>{{data.regions[role].name}}</h2>
		<table ng-if="data.regions[role]"
			class="table table-bordered table-hover">
			<tbody ng-repeat="paramKey in data.parameters.order">
				<tr ng-if="data.parameters[paramKey].preParam">
					<th colspan="2">
						<h3>
							{{data.preParam[data.parameters[paramKey].preParam].title}}</h3>
					</th>
				</tr>
				<tr>
					<td ng-bind-html="data.zwit[role][paramKey]"></td>
					<td>{{data.parameters[paramKey].title}}</td>
				</tr>
			</tbody>
		</table>
		<hr/>
		<p ng-repeat="signature in data.regions[role].signatures" class="row">
			<span class="col-md-4" ng-bind-html="signature.text"> </span> <span
				class="col-md-6">
				_________________________________________________</span> <span
				class="col-md-2"> </span>
		</p>
	</div>
</body>
<script type="text/javascript">
	angular.module("myApp", [ 'textAngular' ]).controller(
			"myCtrl",
			function demoController($scope, $http) {

				$http.get("/view/readSahYearZwit").success(function(data) {
					$scope.data = data;
					console.log($scope.data);
					$scope.pageData = data.raionCommon;
					console.log($scope.pageData);
				});

				$http.get("/read_user").success(
						function(data) {
							$scope.user = data;
							$scope.role = $scope.user.authorities[0].authority
									.split("_")[1];
						});

				$scope.saveJsonToFile = function() {
					$http.post("/saveRegionCommon", $scope.data).then(
							function(response) {
								console.log("---------success--------")
							}, function(response) {
								console.log("----------erros-------");
								console.log(response);
							});
				}

				$scope.objectKeys = function(object) {
					if (object)
						return Object.keys(object);
					else
						return [];
				}

			});
</script>
</html>